.container{:id => "header-bg"}
  /navbar
  = render :partial => "/layouts/nav"
  #call-to-action
    .row{:id => "top-bar"}
      / .span5{:id => "demo_video"}
      /   <iframe width="500" height="315" src="http://www.youtube.com/embed/QIzzBEKvCsk" frameborder="0" allowfullscreen></iframe>
      .span12
        %center
          %h1 We make having a professional license EASY.
          %h3small Get started today! <br><br>
    / .row
    /   .span12
    /     %center
    /       %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Register Now
  .row
    .span5
      #login
        %section#content
          = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            %h1 Sign up
            .row
              .form-inline
                = f.label :Name, :id => "register-label"
                = f.text_field :first_name, :autofocus => true, :placeholder => "First Name"
                / = f.label :last_name
                = f.text_field :last_name, :placeholder => "Last Name"
            .form-inline
              = f.label :email, :id => "register-label"
              = f.email_field :email, :placeholder => "Your Email", :type => "text", :id => "username"
            .form-inline
              = f.label :password, :id => "register-label"
              = f.password_field :password, :placeholder => "New Password"
            #submit-button
              = f.submit "Sign up"
    .offset6
      .span5
        .login
          %section#content
            = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              %h1 Login
              %div
                / %input#username{:placeholder => "Username", :required => "", :type => "text", :name => "user[email]"}/
                = f.email_field :email, :autofocus => true, :id => "username", :type => "text", :placeholder => "  Username", :required => ""
              %div
                / %input#password{:placeholder => "Password", :required => "", :type => "password"}/
                = f.password_field :password, :placeholder => "  Password", :required => "", :id => "password"
              %div
                %input{:type => "submit", :value => "Log in"}/
                %a{:href => "/users/password/new"} Forgot your password?
                / = if devise_mapping.rememberable?
                /   - f.label :remember_me, f.check_box => :remember_me

/ %a.btn.btn-primary.btn-large{:href => "/users/sign_up", :id => "register_button"} Register Now