= render :partial => 'layouts/nav'
/ = @id
/ / = @course.id
/ - if @user.courses.empty?
/   No Orders Found
/ = current_user.id
/ hey
/ %h3 My Progress:
/ .progress.progress-striped.active
/   .bar{:style => "width: 25%;"}


/ = @sub_req_name
/ = @sub_progress.where("distro = ?", "Core").sum(:credit)
/ = current_user.license_id
/ Requirement.select(:min).where(:distro => 'General')
/ = @nick = Statutes.select(:requirement_id).where(license_id = current_user.license_id).to_a
= @nick
.container
  %left
    / =image_tag "progress.png",:id => "progress_image"
    %h4{:id => "dashboardheader"} Continuing Education Dashboard
    %h6
      = current_user.first_name + " " + current_user.last_name + ", CPA"
  <br>
  .row
    .span3
      %center
        / =image_tag "progress.png",:id => "progress_image"
        .div{:id => "progress", :"data-progress" => "#{@progress}", :"data-total" => "#{@progressRequirement}"}
        - if @sub_req then
          <br>
          - @sub_req.each do |k|
            = k.distro + " progress:" 
            .progress.progress-striped
              .bar{:style => "width: #{(@sub_progress.where("distro = ?", k.distro).sum(:credit)/k.min)*100}%"}
        .well{:id => "requirementswell"}
          %center
            %strong
              %p{:id => "requirementtext"} Requirements: <br> 80 hours of CPE for each re-establishment period. Must include 20 hours of accounting and auditing, 4 hours of a Board approved ethics course, and no more than 20 hours in behavioral subjects.
        %a.btn.btn-primary.btn-small{"data-target" => "#emailModal3", "data-toggle" => "modal", :type => "button", :id => "addclass"} Add past course
    .span1
    .span7
      %h6 Courses we recommend for you
      %iframe.shopify-widget{:frameborder => "0", :height => "310", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/effective-writing-for-cpas?shop=license-buddy.myshopify.com&style=artgallery&image-size=compact&button-text=Take+Course&destination=cart", :width => "160"}
      %iframe.shopify-widget{:frameborder => "0", :height => "310", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/change-management-making-improvement-happen-2-credits?shop=license-buddy.myshopify.com&style=artgallery&image-size=compact&button-text=Take+Course&destination=cart", :width => "160"}
      %iframe.shopify-widget{:frameborder => "0", :height => "310", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/florida-ethics-for-cpas-4-hours?shop=license-buddy.myshopify.com&style=artgallery&image-size=compact&button-text=Take+Course&destination=cart", :width => "160"}
      %iframe.shopify-widget{:frameborder => "0", :height => "310", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/leading-groups-making-presentations-1-credit?shop=license-buddy.myshopify.com&style=artgallery&image-size=compact&button-text=Take+Course&destination=cart", :width => "160"}
      <br><br>
      / %h6 Courses you have done
      %table{:class => "table table-hover table-bordered", :id => "DBtable"}
        / %caption Your past courses:
        %thead
          %th Course
          %th Credit Earned
          %th Certificate
        %tbody
          - if @myCourses.empty? then 
            %tr
              %td
              %td 
                %center#italic
                  No Course History
              %td
          - @myCourses.each do |k|
            %tr
              %td
                = k.name
              %td
                = k.credit
              %td
                - if k.avatar_file_name != nil
                  = link_to k.avatar_file_name, :action => :download, :file_url => k.avatar.url, :file_name => k.avatar_file_name
                - else
                  no file

/ .container{:id => "progress"}
/   =image_tag "progress.png",:id => "progress_image"
/ <br>
/ - @myCourses.each do |k|
/   %p
/     %b Name:
/     = k.name
/   %p
/     %b Description:
/     = k.description
/   %p
/     %b Price:
/     = k.price
/   %p
/     %b Credit:
/     = k.credit

/ =image_tag "progress.png",:id => "progress"




#emailModal3.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop" => "true"}
  .login3
    %section#content
      .modal-body
        %h1 Add Your Course:
        = render :partial => "courses/form"


/ %p.notice
/   By clicking Continue, I agree to the
/   %a{"data-bhw" => "SubscriptionTermsOfService", "data-bhw-path" => "SubscriptionEmail|SubscriptionTermsOfService", :href => "/static_pages/legal", :target => "_blank"} Terms of Service
/   and
/   = succeed "." do
/     %a{"data-bhw" => "SubscriptionPrivacyStatement", "data-bhw-path" => "SubscriptionEmail|SubscriptionPrivacyStatement", :href => "/static_pages/legal", :target => "_blank"} Privacy Statement
/ %h3{:id => "modal_text"} 
/ Already have an account?
/ %a{"data-bhw" => "SubscriptionSignIn", "data-bhw-path" => "SubscriptionEmail|SubscriptionSignIn", :href => "/users/sign_in"} Sign In
      
/ #some-wizard.wizard
/   %h1 Wizard Title
/   .wizard-card{"data-cardname" => "card1"}
/     %h3 Profession
/     Name {<type="check_box" name="name" data-validate="validateName"}
/   .wizard-card{"data-cardname" => "card2"}
/     %h3 Organization
/     Some other content
