= render :partial => 'layouts/nav'
/ = @id
/ / = @course.id
/ - if @user.courses.empty?
/   No Orders Found
/ = current_user.id
/ hey
/ %h3 My Progress:
/ .progress.progress-striped.active
/   .bar{:style => "width: 25%;"}
.container
  %left
    / =image_tag "progress.png",:id => "progress_image"
    %h4{:id => "dashboardheader"} Continuing Education Dashboard
    %h6
      = current_user.first_name + " " + current_user.last_name + ", CPA"
  <br>
  .row
    .span3
      %center
        =image_tag "progress.png",:id => "progress_image"
        .well{:id => "requirementswell"}
          %center
            %strong
              %p{:id => "requirementtext"} Requirements: <br> 120 hours of acceptable CPE in the immediate preceding three reporting periods and at least 20 credit hours each year.
        %a.btn.btn-primary.btn-small{"data-target" => "#emailModal", "data-toggle" => "modal", :type => "button", :id => "addclass"} Add past course

    .span8
      %h6 Courses we recommend for you
      %iframe.shopify-widget{:frameborder => "0", :height => "223", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/governmental-pension-reporting-the-new-standards?shop=license-buddy.myshopify.com&style=mnml&image-size=compact&destination=checkout", :width => "150"}
      %iframe.shopify-widget{:frameborder => "0", :height => "223", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/acpen-signature-series-health-care-industry-accounting-regulatory-update?shop=license-buddy.myshopify.com&style=mnml&image-size=compact&destination=checkout", :width => "150"}
      %iframe.shopify-widget{:frameborder => "0", :height => "223", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/1040-workshop?shop=license-buddy.myshopify.com&style=mnml&image-size=compact&destination=checkout", :width => "150"}
      %iframe.shopify-widget{:frameborder => "0", :height => "223", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/1040-workshop?shop=license-buddy.myshopify.com&style=mnml&image-size=compact&destination=checkout", :width => "150"}
      <br><br>
      %h6 Courses you have done
      %table{:class => "table table-hover table-bordered", :id => "DBtable"}
        %thead
          %th Course
          %th Credit Earned
          %th Certificate
        %tbody
          - @myCourses.each do |k|
            %tr
              %td
                = k.name
              %td
                = k.credit
              %td
                = k.filename
      <br><br><br>
/ .container{:id => "progress"}
/   =image_tag "progress.png",:id => "progress_image"
/ <br>
/ - @myCourses.each do |k|
/   %p
/     %b Name:
/     = k.name
/   %p
/     %b Description:
/     = k.description
/   %p
/     %b Price:
/     = k.price
/   %p
/     %b Credit:
/     = k.credit

/ =image_tag "progress.png",:id => "progress"




#emailModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop" => "true"}
  %center
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Add your class
      / .progress.progress-striped.active
      /   .bar{:style => "width: 25%;"}
    .modal-body
      = render :partial => "courses/form"
    .modal-footer

      / %p.notice
      /   By clicking Continue, I agree to the
      /   %a{"data-bhw" => "SubscriptionTermsOfService", "data-bhw-path" => "SubscriptionEmail|SubscriptionTermsOfService", :href => "/static_pages/legal", :target => "_blank"} Terms of Service
      /   and
      /   = succeed "." do
      /     %a{"data-bhw" => "SubscriptionPrivacyStatement", "data-bhw-path" => "SubscriptionEmail|SubscriptionPrivacyStatement", :href => "/static_pages/legal", :target => "_blank"} Privacy Statement
      / %h3{:id => "modal_text"} 
      / Already have an account?
      / %a{"data-bhw" => "SubscriptionSignIn", "data-bhw-path" => "SubscriptionEmail|SubscriptionSignIn", :href => "/users/sign_in"} Sign In