= render :partial => 'layouts/nav'
/ = @id
/ = @user.id
/ / = @course.id
/ - if @user.courses.empty?
/   No Orders Found
/ = current_user.id
/ hey
/ %h3 My Progress:
/ .progress.progress-striped.active
/   .bar{:style => "width: 25%;"}
.container
  %center
    %h1{:id => "dashboardheader"} CPE Dashboard
    %h2 Bill Heintz
  <br><br>
  .row
    .span8
      %table{:class => "table table-hover table-bordered", :id => "DBtable"}
        %thead
          %th Course
          %th Description
          %th Credit Earned
          %th Max Credit
        %tbody
          - @myCourses.each do |k|
            %tr
              %td
                = k.name
              %td
                = k.description
              %td
                = k.price
              %td
                = k.credit
    .span3{:id => "progress"}
      =image_tag "progress.png",:id => "progress_image"
      .well{:id => "requirementswell"}
        %center
          %strong
            %p{:id => "requirementtext"} Requirements: <br> 120 hours of acceptable CPE in the immediate preceding three reporting periods and at least 20 credit hours each year.
      %a.btn.btn-primary.btn-large{"data-target" => "#emailModal", "data-toggle" => "modal", :type => "button", :id => "addclass"} Add Course
      <br><br><br>
/ .container{:id => "progress"}
/   =image_tag "progress.png",:id => "progress_image"
/ <br>
/ - @myCourses.each do |k|
/   %p
/     %b Name:
/     = k.name
/   %p
/     %b Description:
/     = k.description
/   %p
/     %b Price:
/     = k.price
/   %p
/     %b Credit:
/     = k.credit

/ =image_tag "progress.png",:id => "progress"




#emailModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop" => "true",}
  %center
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Add your class
      / .progress.progress-striped.active
      /   .bar{:style => "width: 25%;"}
    .modal-body
      = render :partial => "courses/form"
     
    .modal-footer
      / %p.notice
      /   By clicking Continue, I agree to the
      /   %a{"data-bhw" => "SubscriptionTermsOfService", "data-bhw-path" => "SubscriptionEmail|SubscriptionTermsOfService", :href => "/static_pages/legal", :target => "_blank"} Terms of Service
      /   and
      /   = succeed "." do
      /     %a{"data-bhw" => "SubscriptionPrivacyStatement", "data-bhw-path" => "SubscriptionEmail|SubscriptionPrivacyStatement", :href => "/static_pages/legal", :target => "_blank"} Privacy Statement
      / %h3{:id => "modal_text"} 
      / Already have an account?
      / %a{"data-bhw" => "SubscriptionSignIn", "data-bhw-path" => "SubscriptionEmail|SubscriptionSignIn", :href => "/users/sign_in"} Sign In