= form_for @course, :html => {:multipart => true } do |f|
  / - if @course.errors.any?
  /   #error_explanation
  /     %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
  /     %ul
  /       - @course.errors.full_messages.each do |msg|
  /         %li= msg
  .form-horizontal
    .field
      = f.label :name
      = f.text_field :name
    / .field
    /   = f.label :description
    /   = f.text_area :description
    / .field
    /   = f.label :price
    /   = f.text_field :price
    .field
      = f.label :credit
      = f.text_field :credit
    / .field
    /   = f.label :hours
    /   = f.text_field :hours
    .field
      = f.label :certificate
      = f.file_field :data
    / .field
    /   = f.label :distro
    /   = f.check_box :distro
    / .field
    /   = f.hidden_field :user_id, :value => current_user.id
    .actions
      = f.submit 'Save'