%h1 Listing course

%table
  %tr
    %th Name
    %th Description
    %th Price
    %th Credit
    %th
    %th
    %th

  - @course.each do |course|
    %tr
      %td= course.name
      %td= course.description
      %td= course.price
      %td= course.credit
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course)
      %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New course', new_course_path
