= form_for @klass do |f|
  - if @klass.errors.any?
    #error_explanation
      %h2= "#{pluralize(@klass.errors.count, "error")} prohibited this klass from being saved:"
      %ul
        - @klass.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :credit
    = f.text_field :credit
  .actions
    = f.submit 'Save'